@import "../../node_modules/@cycjimmy/sass-lib";

%keepCenter {
  @include fix-center(-100%);
}

.container {
  @extend %fullContainer;
  z-index: 9999;
  display: none;

  background-color: black;
  overflow: hidden;

  &.show {
    display: block;
  }
}

.wrapper {
  @extend %keepCenter;
  z-index: 1;
  overflow: hidden;

  background-color: black;
  transform-origin: 50% 50%;
}

.videoWrapperForConstraintRatio {
  @extend %keepCenter;
  z-index: 1;
  overflow: hidden;
}

.video {
  @extend %fullContainer;
  z-index: -1;

  object-fit: fill;
  object-position: 50% 50%;
}

.mask {
  @extend %fullContainer;
  z-index: 10;
}

.playButtonWrapper {
  @extend %fullContainer;
  z-index: 100;
  background-color: rgba(black, .1);
}

.playButton {
  @extend %keepCenter;

  max-width: 60px;
  max-height: 60px;
  cursor: pointer;
  opacity: .6;
}

.playButtonSvg {
  max-width: 60px;
  max-height: 60px;
  fill: #fff;
}
